<!--Menu de navegación -->
<!-- navbar is from bootstrap -->
<div class="navbar navbar-toggleable-md navbar-light bg-faded " style="background-color: #358e9d;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--<div class="logo" >
        <img src="../assets/img/logonavbar.png" class="img-responsive" alt="" *ngIf="!currentUser">
        </div> -->
  <a class="navbar-brand navbar-brand-logo" href="https://barterapp-spanish.herokuapp.com/">
      <div class="brand">   BarterApp </div>


  </a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="!currentUser">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!currentUser">
        <a class="nav-link" href="#">Sobre nosotros</a>
      </li>
    </ul>
    <div *ngIf="currentUser">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link"> Bienvenid@ {{currentUser.firstName}}! (Empresa: {{currentUser.cname}})</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/home">Ayuda</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/calendarhome">Calendario</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!currentUser">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- main app  -->
<!-- jumbotron is from bootstrap -->
<div class="jumbotron app_content">
  <div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
