
<!-- main message -->
<!-- jumbotron is boostrap class -->
      <div class="maria" >
        <h1>Barter<strong>App</strong>: Manage your business time.</h1>
         <hr class="my-4">
        <p class="lead">Maneja tu tiempo laboral de manera sencilla, cambiar de turno nunca había sido tan fácil. </p>
        <p>
          <a class="btn btn-lg btn-success" href="#" role="button">Saber Más</a>
          <a class="btn btn-lg btn-success" href="/register" role="button">Sign up</a>
          <a class="btn btn-lg btn-success" href="/login" role="button">Log in</a>
        </p>
      </div>




      <div class="row marketing">
        <!-- left column -->
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur psurus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <!-- right column -->
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
