

<div class="wrapper">
  <div class="alert alert-warning" role="alert">
         <div class="container">
             <div class="alert-icon">
                 <i class="material-icons">warning</i>
             </div>
             <strong>ATENCIÓN!</strong> <br>Barter está en fase de desarrollo, todavía no se encuentra disponible. Disculpen las molestias.
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">
                     <i class="material-icons">close</i>
                 </span>
             </button>
         </div>
     </div>
      <div class="container">
          <div class="content-center brand">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-xs-12" style="padding-top:8vw;text-align:center;">
                      <h1 class="h1-seo">Make the swapp happens.</h1>
                      <button type="button" class="btn btn-outline-primary btn-index"><a class="" href="/" role="button">Sign up</a></button>
                      <button type="button" class="btn btn-outline-primary btn-index"><a class="" href="/" role="button">Log in</a></button>
                    </div>
                    <div class="col-sm-4 col-xs-12" >
                          <img src="assets/img/BARTER.png" alt="">
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>

    <!-- Qué somos-->
      <div class="section section-tabs" id="about1">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                    <br>
                      <p class="category" align="center">¿Qué?</p>
                      <div class="card">
                          <div class="card-block">
                              <!-- Tab panes -->
                              <div class="tab-content text-center">
                                  <div class="tab-pane active" id="home" role="tabpanel">
                                      <p>Somos una herramienta digital multiplataforma que fomenta la mejora de la comunicación interna en empresas o instituciones ayudando a mejorar el reparto de turnos que impera en ellas.
                                      En la mayoría de ocasiones este reparto de turnos planificado podría mejorarse a través de cambios biletarales que muchas veces simplemente no se producen por que
                                    las partes implicadas lo desconocen. <br> ¡Se acabaron los problemas con Barter! </p>
                                  <i class="material-icons">perm_identity</i><i class="material-icons">compare_arrows</i><i class="material-icons">perm_identity</i>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>


      <!-- Quiénes somos-->
      <div class="section section-tabs" id="about2">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                    <br>
                      <p class="category" align="center">¿Quién</p>
                      <div class="card">
                          <div class="card-block">
                              <!-- Tab panes -->
                              <div class="tab-content text-center">
                                  <div class="tab-pane active" id="home" role="tabpanel">
                                      <p>Somos una start-up de alta escalabilidad en desarrollo cuya filosofía se basa en el lean startup y en la economía colaborativa. La relación entre quien ofrece un servicio y quien tiene una necesidad concreta está cambiando de manera significativa, desde Barter creemos en las personas y desarrollamos por y para ellas.
                                      <br>Puedes aprender más acerca de nosotros en nuestra <a href="/about">línea del tiempo</a>.</p>
                                  <i class="material-icons">supervisor_account</i><i class="material-icons">android</i><i class="material-icons">assessment</i><i class="material-icons">build</i><i class="material-icons">gps_fixed</i>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>

       <!-- Devices -->
      <div class="section section-images" id="devices">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="hero-images-container">
                          <img src="assets/img/hero-image-1.png" alt="">
                      </div>
                      <div class="hero-images-container-1">
                          <img src="assets/img/hero-image-2.png" alt="">
                      </div>
                      <div class="hero-images-container-2">
                          <img src="assets/img/hero-image-3.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <p class="category" align="center"></p>
      <!-- Como-->
      <div class="section section-tabs" id="whom">
        <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
          <p class="category" align="center">¿Cómo?</p>
          <div class="card">
              <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Añade</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Solicita</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Intercambia</a>
                  </li>
              </ul>
              <div class="card-block">
                  <!-- Tab panes -->
                  <div class="tab-content text-center">
                      <div class="tab-pane active" id="home1" role="tabpanel">
                          <p>Conecta con tus compañeros a través de la tecnología. Barter está pensando como una herramienta no sólo para intercambiar turnos sino también para establecer una relación directa entre los compañeros.
                          Añade tus turnos al calendario para comenzar a intercambiar entre compañeros </p>
                      </div>
                      <div class="tab-pane" id="profile1" role="tabpanel">
                          <p> Envía peticiones a otros compañeros de una forma sencilla y eficar. </p>
                      </div>
                      <div class="tab-pane" id="messages1" role="tabpanel">
                          <p>Acepta las peticiones y establece un cambio de turno de manera bilateria: de usuario a usuario.</p>
                      </div>
                  </div>
              </div>
        </div>

      </div>
      <br>


<!--
<div class="row">
      <div class="feature-item col-md-4 text-center wow fadeInUp">
        <div class="icon-container"><i class="material-icons">work</i></div>
        <h3>Interactúa con tus compañeros.</h3>
        <div class="desc">
          <p>Conecta con tus compañeros.</p>
        </div>
      </div>
      <div data-wow-delay="0.6s" class="feature-item col-md-4 text-center wow fadeInUp">
        <div class="icon-container"><i class="material-icons">compare_arrows</i></div>
        <h3>Intercambia los turnos.</h3>
        <div class="desc">
          <p>Sencillo y rápido.</p>
        </div>
      </div>
      <div data-wow-delay="0.3s" class="feature-item col-md-4 text-center wow fadeInUp">
        <div class="icon-container"><i class="material-icons">date_range</i></div>
        <h3>Calendario Interactivo</h3>
        <div class="desc">
          <p>Calendario de fácil manejo.</p>
        </div>
      </div>
</div>
-->
</div>
<p class="category" align="center"> ¿Dónde?</p>
<!-- MENSAJE ALERTA
      <div class="alert alert-warning" role="alert">
             <div class="container">
                 <div class="alert-icon">
                     <i class="material-icons">warning</i>
                 </div>
                 <strong>ATENCIÓN!</strong> Aplicaciones móviles en desarrollo disponibles muy pronto.
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">
                         <i class="material-icons">close</i>
                     </span>
                 </button>
             </div>
         </div>-->
<div class="card">
<div class="row features-index">
      <div data-wow-delay="0.3s" class="feature-item col-md-4 text-center wow fadeInUp">
        <div id="icon-container"><i class="fa fa-apple" aria-hidden="true"></i></div>

        <h3>IOS</h3>

      </div>
      <div data-wow-delay="0.6s" class="feature-item col-md-4 text-center wow fadeInUp">
        <div id="icon-container"><i class="fa fa-desktop" aria-hidden="true"></i></div>

        <h3>Web</h3>


      </div>
      <div data-wow-delay="0.3s" class="feature-item col-md-4 text-center wow fadeInUp">
        <div id="icon-container"><i class="fa fa-android" aria-hidden="true"></i></div>

        <h3>Android</h3>
      </div>
</div>
</div>
<div class="row">
  <div class="feature-item col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0" style="margin: 0 auto;">
    <div class="hero-images-container img-market">
        <img src="assets/img/appstore.png" alt="" style="width:100%">
    </div>
  </div>
    <div class="feature-item col-md-4 col-md-offset-4 col-12 col-offset-0" style="margin: 0 auto;">
      <div class="hero-images-container img-market">
          <img src="assets/img/googleplay.png" alt="" style="width:100%">
      </div>
    </div>
</div>
