
  <section class="page-section" id="timeline">
       <div class="home-content">
           <div class="home-text">
               <div class="row mt-60 mt-xs-20">

                 <div class="font-alt mb-20" style="color:rgb(255, 255, 255) "><p style="font-size: 3em; opacity: 0.6;">Conócenos: </p></div>
                                    <div class="font-alt mb-20 flag-wrapper" style="color:rgb(255, 255, 255)"><p style="font-size: 2em;"><br> ¿De dónde proviene BarterApp?</p></div>
                         <ul class="timeline">
                         <!-- IDEA -->
                         <li>
                           <div class="direction-r">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag"><span lang="en">IDEA.</span></span>
                               <span class="time-wrapper"><span class="time"><span lang="en">Octubre 2016</span></span></span>
                             </div>
                             <div class="desc"><span lang="en">La idea nace de la mano de un profesor y un alumno.</span></div>
                           </div>
                           <div class="direction-l">
                             <i class="material-icons">lightbulb_outline</i>
                           </div>
                         </li>

                         <!-- LEARNING-->
                         <li>
                           <div class="direction-l">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag"><span lang="en">LEARNING.</span></span>
                               <span class="time-wrapper"><span class="time"><span lang="en">Noviembre 2016</span></span></span>
                             </div>
                             <div class="desc"><span lang="en">Formación en apps web y aplicaciones híbridas.</span></div>
                           </div>
                           <div class="direction-r">
                             <i class="material-icons">chrome_reader_mode</i>
                           </div>
                         </li>

                         <!-- YUZZ -->
                         <li>
                           <div class="direction-r">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag"><span lang="en">YUZZ PROGRAM.</span></span>
                               <span class="time-wrapper"><span class="time"><span lang="en">Enero 2017</span></span></span>
                             </div>
                             <div class="desc"><span lang="en">La idea es presentada cómo un proyecto más a formar parte del programa YUZZ para jóvenes emprendedores..</span></div>

                           </div>
                           <div class="direction-l">
                             <i class="material-icons">grade</i>
                           </div>
                         </li>

                         <!-- ALGORITHM -->
                         <li>
                           <div class="direction-l">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag"><span lang="en">ALGORITHM.</span></span>
                               <span class="time-wrapper"><span class="time">Febrero 2017</span></span>
                             </div>
                             <div class="desc"><span lang="en">Inicio de desarrollo del algoritmo base.</span></div>
                           </div>
                           <div class="direction-r">
                             <i class="material-icons">code</i>
                           </div>
                         </li>

                         <!-- WEB DEVELOPMENT-->
                         <li>
                           <div class="direction-r">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag"><span lang="en">WEB DEVELOPMENT.</span></span>
                               <span class="time-wrapper"><span class="time">Abril 2017</span></span>
                             </div>
                             <div class="desc"><span lang="en">Desarollo de la aplicación web usando Angular 4..</span></div>
                           </div>
                           <div class="direction-l">
                             <i class="material-icons">important_devices</i>
                           </div>
                         </li>
                        <!-- LONDON -->
                         <li>
                           <div class="direction-l">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag">LONDON.</span>
                               <span class="time-wrapper"><span class="time"><span lang="en">Abril 2017</span></span></span>
                             </div>
                             <div class="desc"><span lang="en">Viaje a Londres, el proyecto es expuesto en dos importantes universidades de Reino Unido: Milton Keynes University y University of Coventry, además de en otros lugares de importancia como el campus London de Google.</span></div>
                           </div>
                           <div class="direction-r">
                             <i class="material-icons">language</i>
                           </div>
                         </li>
                          <!-- HYBRID DEVELOPMENT-->
                         <li>
                           <div class="direction-r">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag">HYBRID DEVELOPMENT.</span>
                               <span class="time-wrapper"><span class="time"><span lang="en">Junio 2017</span></span></span>
                             </div>
                             <div class="desc"><span lang="en">Desarrollo de la aplicación híbrida que acompaña a la web.</span></div>
                           </div>
                           <div class="direction-l">
                             <i class="material-icons">android</i><i class="material-icons">phonelink_setup</i>
                           </div>
                         </li>

                         <!-- Item 6 -->
                         <li>
                           <div class="direction-l">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag"><span lang="en">Actualmente: TEST PHASE</span></span>
                               <span class="time-wrapper"><span class="time">Julio 2017</span></span>
                             </div>
                             <div class="desc"><span lang="en">Aplicación funcionando en fase de pruebas intentando mejorar de cara al usuario final.</span></div>
                           </div>
                           <div class="direction-r">
                             <i class="material-icons">bug_report</i>
                           </div>
                         </li>

                       </ul>

                       <!--FUTURE EVENTS-->
                     <div class="font-alt mb-20" style="color:rgb(255, 255, 255) "><p style="font-size: 3em; opacity: 0.6;">Planes futuros:</p></div>
                                                         <div class="font-alt mb-20 flag-wrapper" style="color:rgb(255, 255, 255)"><p style="font-size: 2em;">  <br> ¿A dónde se dirige BarterApp?</p></div>

                       <ul class="timeline">
                         <!-- Refactoring -->
                         <li>
                           <div class="direction-r">
                             <div class="flag-wrapper">
                               <span class="hexa"></span>
                               <span class="flag">REFACTOR WEB + APP.</span>
                               <span class="time-wrapper"><span class="time">Agosto 2017</span></span>
                             </div>
                             <div class="desc"><span lang="en">Tras realizar los pertinentes test necesarios se llevará a cabo una refactorización para mejorar la calidad del código antes de la salida definitiva al mercado.</span></div>
                           </div>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>

             </section>
