<!DOCTYPE HTML>
<title></title>


<ul id=" ">
  <li *ngFor="let usuario of usuarios" class="usuario-item">
    <div class = "content-data">
    <h4>{{usuario.name}} {{usuario.surname}}</h4>
    <p class=" ">{{usuario.companyName}}</p>
    <p class="buttons">
      <a [routerLink]="['/usuario',usuario._id]"  class="btn btn-ver">
        Ver
      </a>
      <a  href="{{usuario.companyName}}" class="btn btn-editar">
        Editar
      </a>
      <a href="{{usuario.companyName}}" class="btn btn-eliminar">
        Eliminar
      </a>
      <a href="{{usuario.companyName}}" class="btn btn-empresaasociada">
        Ver Empresa
      </a>
      <a href="{{usuario.companyName}}" class="btn btn-calendario">
        Ver Calendario
      </a>
    </p>
    </div>
  </li>
</ul>
