<h1>{{title}}</h1>


  <form #formUsuarios="ngForm" align="center"  (ngSubmit)="onSubmit()">
    <label for="">Nombre:</label>
    <p>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="usuario.name" required/>
      <span *ngIf="name.touched && !name.valid">El nombre es obligatorio.</span>
    </p>
    <label for="">Apellido:</label>
    <p>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="usuario.surname" required/>
      <span *ngIf="surname.touched && !surname.valid">El apellido es obligatorio.</span>

    </p>
    <label for="">Nombre compañia:</label>
    <p>
      <textarea name="companyName" #companyName="ngModel" [(ngModel)]="usuario.companyName" required>
      </textarea>
      <span *ngIf="companyName.touched && !companyName.valid">El nombre de su compañia es importante.</span>

    </p>

    <input type="submit" value="{{title}}">
</form>
