 <!DOCTYPE html>
<title></title>

  <!-- Navigation Bar-->
 <my-navbar></my-navbar>

  <!-- Header -->
  <header id="header" class="header" align-items="center-block">
     <!--<a href="#">
      <img src="../../assets/images/logo256.png" id="logo">
    </a> -->
    <div class="title-subtitle">
      <h1><a [routerLink]="['/']">{{title}}</a></h1>
      <p>{{description}}</p>
    </div>

    <a class="btn-add-usuario" [routerLink]="['/crear-usuario']">
      Crear usuario
    </a>

    <div class="clearfix"></div>
  </header>


  <section class="main">
    <!--Mostramos otro componente-->
    <router-outlet></router-outlet>
    <div class="clearfix"></div>
  </section>

  <!-- Footer
  <my-footer></my-footer>r-->
