<!DOCTYPE HTML>
<title></title>
<div class="loading" *ngIf="loading">
  <img src="../../assets/images/ajax-loader.gif" alt="">
</div>

<ul id="usuarios-list" *ngIf="usuarios">
  <li *ngFor="let usuario of usuarios" class="usuario-item">
    <div class = "content-data">
    <h4>{{usuario.name}} {{usuario.surname}}</h4>
    <p class="companyName">{{usuario.companyName}}</p>
    <p class="buttons">
      <a [routerLink]="['/usuario',usuario._id]"  class="btn btn-ver">
        Ver
      </a>
      <a  href="{{usuario.companyName}}" class="btn btn-editar">
        Editar
      </a>
      <a href="{{usuario.companyName}}" class="btn btn-eliminar">
        Eliminar
      </a>
      <a href="{{usuario.companyName}}" class="btn btn-empresaasociada">
        Ver Empresa
      </a>
      <a href="#s" class="btn btn-calendario">
        Ver Calendario asociado
      </a>
    </p>
    </div>
  </li>
</ul>
