<!DOCTYPE html>
<!-- Botones superiores-->
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate">
        Anterior
      </div>
      <div
        class="btn btn-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Actual
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate">
        Siguiente
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'">
        Mes
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'week'"
        [class.active]="view === 'week'">
        Semana
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'day'"
        [class.active]="view === 'day'">
        Dia
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-- Vistas del calendario -->
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>
<br>
<br>
<!-- Controles de intercambio-->
<div class="row justify-content-md-center">
	<div class="col col-lg-2">
	</div>
	<div class="col-12 col-md-auto">
		 <h3 align="center">
		  ¿Cambios?
		 </h3>
		 <button class="btn btn-primary" (click)="showNormal(0)" >
		    Vista Normal
		 </button>
		  <button class="btn btn-primary" (click)="showNormal(1)" >
		   Pendientes<span class="badge badge-pill badge-danger">{{pendingEventCounter}}</span>
		  </button>
		   <button class="btn btn-primary" (click)="showNormal(2)" >
		   Rechazados<span class="badge badge-pill badge-danger">{{declineEventCounter}}</span>
		  </button>
		  <button class="btn btn-primary" (click)="showNormal(3)" >
		   Aceptados<span class="badge badge-pill badge-danger">{{acceptedEventCounter}}</span>
		  </button>
	</div>
	<div class="col col-lg-2">
	</div>
</div>

<!-- Control de añadir turnos -->
<div class="row justify-content-md-center pt-3">
	<div class="col col-lg-2">
	</div>
	<div class="col-12 col-md-auto ">
		<button
		    class="btn btn-primary "
		    (click)="addEvent()">
		    Añadir nuevo turno
		  </button>
	</div>
	<div class="col col-lg-2">
	</div>
</div>



<table class="table table-bordered ">
  <thead *ngIf = "shiftEvents.length > 0">
    <tr>
      <th *ngIf = " showNormalEvent > 0" title="Compañero que el que cambiar." >Remitente</th>
      <th title="Nombre de tú turno." >Nombre</th>
      <th *ngIf = " showNormalEvent == 0" >Tipo</th>
      <th  >Fecha</th>
      <th *ngIf = " showNormalEvent == 1"></th>
      <th *ngIf = " showNormalEvent  > 1">  </th>
      <th *ngIf = " showNormalEvent == 0" ></th>
      <th *ngIf = " showNormalEvent == 1" ></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let event of shiftEvents; let index = index">

      <td *ngIf = "showNormalEvent == 1 && event.getOriginalEvent().status === 'pending'" >
        <input
          type="text"
          disabled
          [(ngModel)]="event.getOriginalEvent().sender"
          >
      </td>

            <td *ngIf = "showNormalEvent == 2 && event.getOriginalEvent().status === 'declined'" >
        <input
          type="text"
          disabled
          [(ngModel)]="event.getOriginalEvent().sender"
          >
      </td>

            <td *ngIf = "showNormalEvent == 3 && event.getOriginalEvent().status === 'accepted'" >
        <input
          type="text"
          disabled
          [(ngModel)]="event.getOriginalEvent().sender"
          >
      </td>
