h3 {
  margin: 0 0 10px;
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1000; /*z-index must be higher than .modal-background*/
  overflow: auto;
}
.modal .modal-body {
  padding: 20px;
  background: #fff;
  margin: 40px;
}
.modal .modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 900;
}
.body .modal-open {
  overflow: hidden;
}
pre {
  background-color: #f5f5f5;
  padding: 15px;
}


.boton_personalizado_eliminar{
   text-decoration: none;
   padding: 10px;
   font-weight: 300;
   font-size: 15px;
   color: #ff0000;
   background-color: #rgb(246, 27, 27);
   border-radius: 6px;
   border: 2px solid #0016b0;
 }
 .boton_personalizado_eliminar:hover{
   color: #rgb(246, 27, 27);
   background-color: #358e9d;
 }
