/* Body */
body{
  font-family: Helvetica, Arial;
}

/* Clearfix */
.clearfix{
  float:none;
  clear:both;
  text-decoration: none;
  list-style: none;
}
/* Barra de navegacion */
.navbar{
  bottom: 0px;
  width:100%;
  margin: 0px auto;
  margin-top: 10px;
  border 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
}


/* Cabecera - main tittle*/
header{
  padding: 15px;
  background: #358e9d;
}

header .title-subtitle{
  float: left;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white;
  padding: 20px;
  margin-left: -60px;
  padding-left: 95px;

}
header p,
header h1{
  margin: 0px;
  margin-left: 15px;
  align-items: center;
}

header h1 a{
  text-decoration: none;
  color: white;
}

header h1 a:hover{
  text-decoration: underline;
}

header p{
  color: #ddd;
}

header #logo{
  width: 100px;
  height: auto;
  display: block;
  float: left;
  margin-top: 10px;

}
/*Boton añadir*/
.btn-add-usuario{
  display: block;
  padding: 10px;
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px gray;
  color: #666;
  text-decoration: none;
  transition: all 300ms;
}

.btn-add-usuario:hover{
  background-color: white;
  color: #444;

}

/*Lista de usuarios*/
#usuarios-list{
  padding: 0px;
  margin: 0px;
}
.usuario-item{
  list-style: none;
  width: 31%;
  border: 1px solid #ddd;
  height: 300px;
  float: left;
  padding-top: 10px;
  padding-bottom: 20px;
  color: gray;
  background: white;
  margin: 10px;
}

.usuario-item .content-data{
  float:left;
  margin-left: 20px;
}

.usuario-item h4{
  color: #444;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;

}

.usuario  -item.companyName{
  margin: 0px;
  padding: 0px;
  height:  45px;
  overflow: hidden;

}
/* Botones */
.btn{
   font-size: 13px;
   border: 1px solid #358e9d;
   border-color: #ccc;
   border-radius: 4px;
   box-shadow: 0px 0px 5px #ddd;
   text-decoration: none;
   color: white ;
   background: #358e9d;
   cursor: pointer;
   margin-left: 0px;
   margin-top: 3px;
}
.btn-editar{
  background: #0A0;
  border-color: #0A0;
}
.btn-eliminar{
  background: #E23237;
  border-color: #E23237;
}
.btn-ver {
  background: #EAA615;
  border-color:  #EAA615;


}
.btn-empresaasociada{
  background: #154aeb;
  border-color:  #154aeb;
}
.btn-calendario{
  background: #eb158f;
  border-color:  #eb158f;
}

/* Contenido */
#content{
  width:80%;
  min-height: 500px;
  margin: 0px auto;
  margin-top: 20px;
  border 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  background: #eee;

}


/* Efecto de carga*/

.loading{
  margin: 25px;
}
/* Pie de pagina */
.footer{
  position: absolute;
  bottom: 0px;
  width:80%;
  margin: 0px auto;
  margin-top: 70px;
  border 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  background: #358e9d;

}
